body 
{
  font-family:Arial; 
  background: -webkit-linear-gradient(to right, #159938, #991562); 
  background: linear-gradient(to right, #159938, #991562); 
  color:whitesmoke;
}

h1
{
    color: black;
    
}

.center {
    margin-left: auto;
    margin-right: auto;
  }