body 
{
  font-family:Arial; 
  background: -webkit-linear-gradient(to right, #ebb774, #e7e4d6); 
  background: linear-gradient(to right, #ebb774, #e7e4d6); 
  color:whitesmoke;
}

h1
{
    color: black;
    
}

table
{
    color: black
}

p
{
    color: black
}

.center {
    margin-left: auto;
    margin-right: auto;
  }